//running background video
.bg-video {
  //postion so that it stays behind everything in the section
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  widows: 100%;
  z-index: -1;
  opacity: 0.15;
  //stop the overflow when sizing the video
  overflow: hidden;

  //setting the size of the video to fit the section
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
